:root {
    --lime-green-transparent: hsla(100, 100%, 60%, 0.8);
    --lime-green: #77FF33;
    --dark-lime-green: #11999E;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    font-family: Futura, sans-serif;
}

body {
    /* min-width: 22rem;
    max-width: 70vw; */
    background-color: lightblue;
    background: url('../images/bg.svg');
    padding: 0 1rem;
}

h1 {
    font-family: sans-serif;
    font-size: 2.8rem;
    padding: 5rem 0 0.5rem;
}

@@supports (-webkit-text-stroke: 0.5px var(--lime-green)) {
    h1 {
        -webkit-text-stroke: 0.5px var(--lime-green)
    }
}

h2 {
    color: var(--white);
}

li {
    padding-bottom: 1rem;
}

ul {
    padding: 0.5rem 2.5rem;
    list-style: none;
}

.cat-container {
    padding-top: 2rem;
}

.cat-container a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 100;
    color: var(--dark-lime-green);
}

.cat-container a:hover {
    color: var(--lime-green);
    /* transition: all 0.5s ease; */
}

.top-container {
    border-bottom: solid var(--lime-green) 0.3rem;
    /* background-color: #fff; */
}

.top-container span {
    font-size: 1.5rem;
    font-variant: small-caps;
    color: var(--lime-green-transparent);
}
